@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: fit-content;
}

#root {
  background-color: #000;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  overflow-x: hidden;
}

.bgtext {
  background-image: url("/bgtext.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
